<div class="bg-light">
    <div class="container" style="padding: 5px">
      <div class="row">
        <div class="col-lg-1 col-1" id="changeBackground1">
          <a class="nav-link active"  routerLinkActive="list-item-active" routerLink="/posts">LOGO</a>
        </div>
        <div class="col-lg-6 col-11" id='changeBackground1'>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn" type="submit">Search</button>
            </form>
        </div>

        <div class="col-lg-2 col-4" style="text-align: center;">
            <a class="nav-link" style="color:black;" routerLinkActive="list-item-active" routerLink="/posts"><span class="bi-search"></span>Login</a>
        </div>
        <div class="col-lg-1 col-4" id='changeBackground1'>
            <button class="btn" type="submit" style="width: 100%;">Wishlist</button>
        </div>
        <div class="col-lg-1 col-2" id='changeBackground1'>
            <button class="btn" type="submit" style="width: 100%;">Cart</button>
        </div>
        <div class="col-lg-1 col-2" id='changeBackground1'>
            <button class="btn" type="submit">More</button>
        </div>
      </div>
    </div>
</div>
    
<!--
<div class="container">
    <div class="row">
        <div class="col-lg-2 col-2" id='changeBackground' style="min-width: 100px; text-align: center;">
            <button class="btn" type="submit" style="width: 100%;font-weight: bold;">Electronics</button>
        </div>
        <div class="col-lg-2 col-2" id='changeBackground' style="min-width: 100px; text-align: center;">
            <button class="btn" type="submit" style="width: 100%;font-weight: bold;">Fashion</button>
        </div>
        <div class="col-lg-2 col-2" id='changeBackground' style="min-width: 100px; text-align: center;">
            <button class="btn" type="submit" style="width: 100%;font-weight: bold;">Grocery</button>
        </div>
        <div class="col-lg-2 col-3" id='changeBackground' style="min-width: 100px; text-align: center;">
            <button class="btn" type="submit" style="width: 100%;font-weight: bold;">Home Appliances</button>
        </div>
        <div class="col-lg-2 col-2" id='changeBackground' style="min-width: 100px; text-align: center;">
            <button class="btn" type="submit" style="width: 100%;font-weight: bold;">Gadgets</button>
        </div>
        <div class="col-lg-2 col-1" id='changeBackground' style="min-width: 100px; text-align: center;">
            <button class="btn" type="submit" style="width: 100%;font-weight: bold;">Toy</button>
        </div>
    </div>
</div>
-->


<br><br><br>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <span style="font-weight: bolder;">All category</span>
        <div class="collapse navbar-collapse" id="navbarScroll" style="border: 2px solid red;">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;border: 2px solid black;margin: auto;width: 100%;" >
            <li class="nav-item">
              <a class="nav-link" aria-current="page" routerLinkActive="list-item-active" routerLink="/" style="background-color: gold;">Electronics</a>
            </li>
            <li class="nav-item  ">
              <a class="nav-link" aria-current="page" routerLinkActive="list-item-active" routerLink="/" style="background-color: gold;">Fashion</a>
            </li>
            <li class="nav-item  ">
              <a class="nav-link" aria-current="page" routerLinkActive="list-item-active" routerLink="/" style="background-color: gold;">Grocery</a>
            </li>
            <li class="nav-item  ">
              <a class="nav-link"  routerLinkActive="list-item-active" routerLink="/posts" style="background-color: gold;">Home Appliances</a>
            </li>
            <li class="nav-item dropdown  ">
              <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: gold;">
                Gadgets
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" tabindex="-1" aria-disabled="true" style="background-color: gold;">Toy</a>
            </li>
          </ul>
        </div>  
      </div>
    </nav>
  </div>




<!--
<mat-toolbar color="primary" style="background-color:cadetblue">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>

        <span> APP LOGO </span>

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <button mat-icon-button>
                        <mat-icon>settings</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>person_outline</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>exit_to_app</mat-icon>
                            Sign out
                        </button>
                    </mat-menu>

                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
-->