ul li {
  list-style: none;
}

#changeBackground:hover {
  background-color: gray;
}

#changeBackground1:hover {
  background-color: white;
}

#changeBackground1 {
  text-align: center;
}

.liHover li:hover {
  background: rgb(206, 206, 206);
}

.liHover li a:hover {
  font-weight: bold;
  color: white;
}
