<div class="bg-light">
    <div class="container" style="padding: 5px">
      <div class="row">
        <div class="col-lg-1 col-2" id="changeBackground1">
          <a class="nav-link active text-muted"  routerLinkActive="list-item-active" routerLink="/" style="text-decoration: none;color:black"><b>LOGO</b></a>
        </div>
        <div class="col-lg-6 col-10" id='changeBackground1'>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn" type="submit"><a class=" text-muted" style="text-decoration: none;color:black"><b>Search</b></a></button>
            </form>
        </div>

        <div class="col-lg-1 col-4" id='changeBackground1'>
            <button class="btn" style="width: 100%;"><a class=" text-muted" style="text-decoration: none;color:black" routerLink="/posts"><b>Wishlist</b></a></button>
        </div>
        <div class="col-lg-1 col-2" id='changeBackground1'>
            <button class="btn" style="width: 100%;"><a class=" text-muted" style="text-decoration: none;color:black" routerLink="/cart"><b>Cart</b></a></button>
        </div>
        <div class="col-lg-1 col-2" id='changeBackground1'>
            <button class="btn" mat-button [matMenuTriggerFor]="menu"><a class=" text-muted" style="text-decoration: none;color:black" routerLink="/order"><b>Order</b></a></button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>Item 1</button>
              <button mat-menu-item>Item 2</button>
            </mat-menu>
        </div>
        <div class="col-lg-2 col-4" style="text-align: center;"*ngIf="!userIsPresent">
          <button class="btn btn-primary" *ngIf="!userIsPresent" mat-button [matMenuTriggerFor]="menu1">
            <a class=" text-muted" style="text-decoration: none;color:black"><b style="color: white;">Join Us</b></a>
          </button>
          <mat-menu #menu1="matMenu">
            <button mat-menu-item routerLink="/login"><b>Login</b></button>
            <button mat-menu-item routerLink="/signup"><b>Sign up</b></button>
          </mat-menu>
        </div>
        <div class="col-lg-2 col-sm-2 col-4" style="text-align: center;">
          
          <button class="btn btn-primary" *ngIf="userIsPresent" mat-button [matMenuTriggerFor]="menu1">
            <a class="text-muted" style="text-decoration: none;"><b style="color: white;" mat-button [matMenuTriggerFor]="logoutMenu" *ngIf="currentUser">{{this.currentUser.email}}</b></a>
          </button>
          <mat-menu #logoutMenu="matMenu">
            <button mat-menu-item routerLink="/login"><b>Profile</b></button>
            <button mat-menu-item routerLink="/"  (click)="logout()"><b>Logout</b></button>
          </mat-menu>
        </div>
      </div>
    </div>
</div>

<br>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <ng-container *ngIf="widthIsForDropdown">
          <span class="text-muted disable" style="text-decoration: none;"> <b>All category</b></span>
        </ng-container>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav me-auto my-2 my-lg-0  nav-fill liHover" style="--bs-scroll-height: 100px;width: 100%;">
            <li class="nav-item list-group-item" style="border-top: none;">
              <a class="nav-link wide" aria-current="page" routerLinkActive="list-item-active" routerLink="/">Electronics</a>
            </li>
            <li class="nav-item list-group-item">
              <a class="nav-link wide" aria-current="page" routerLinkActive="list-item-active" routerLink="/">Fashion</a>
            </li>
            <li class="nav-item list-group-item">
              <a class="nav-link wide" aria-current="page" routerLinkActive="list-item-active" routerLink="/">Grocery</a>
            </li>
            <li class="nav-item list-group-item">
              <a class="nav-link"  routerLinkActive="list-item-active" routerLink="/posts">Home Appliances</a>
            </li>
            <li class="nav-item dropdown list-group-item">
              <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Gadgets
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item list-group-item">
              <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Toy</a>
            </li>
          </ul>
        </div>  
      </div>
    </nav>
  </div>


<!--
<div class="container">
    <div class="row">
        <div class="col-lg-2 col-2" id='changeBackground' style="min-width: 100px; text-align: center;">
            <button class="btn" type="submit" style="width: 100%;font-weight: bold;">Electronics</button>
        </div>
        <div class="col-lg-2 col-2" id='changeBackground' style="min-width: 100px; text-align: center;">
            <button class="btn" type="submit" style="width: 100%;font-weight: bold;">Fashion</button>
        </div>
        <div class="col-lg-2 col-2" id='changeBackground' style="min-width: 100px; text-align: center;">
            <button class="btn" type="submit" style="width: 100%;font-weight: bold;">Grocery</button>
        </div>
        <div class="col-lg-2 col-3" id='changeBackground' style="min-width: 100px; text-align: center;">
            <button class="btn" type="submit" style="width: 100%;font-weight: bold;">Home Appliances</button>
        </div>
        <div class="col-lg-2 col-2" id='changeBackground' style="min-width: 100px; text-align: center;">
            <button class="btn" type="submit" style="width: 100%;font-weight: bold;">Gadgets</button>
        </div>
        <div class="col-lg-2 col-1" id='changeBackground' style="min-width: 100px; text-align: center;">
            <button class="btn" type="submit" style="width: 100%;font-weight: bold;">Toy</button>
        </div>
    </div>
</div>
-->
 
  

<!--
<mat-toolbar color="primary" style="background-color:cadetblue">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>

        <span> APP LOGO </span>

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <button mat-icon-button>
                        <mat-icon>settings</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>person_outline</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>exit_to_app</mat-icon>
                            Sign out
                        </button>
                    </mat-menu>

                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
-->