<div class="container">
    <div class="row">
        <p class="row text-muted" *ngIf="!cartSize"><b><h3>Cart is empty</h3></b></p>
        <div class="col-lg-8  col-sm-12" *ngIf="cartSize">
            <div class="row">
                <p class="row text-muted"><b><h3>SHOPPING CART</h3></b></p>
                
            </div>
            <div class="row" style="align-items: center;" *ngFor="let product of cartItems">
                <div class="col-lg-3 col-sm-12">
                    <img src="{{product.image}}" class="w-100 border-bottom" alt="Sample Image">
                </div>
                <div class="col-lg-4 col-sm-12 text-muted"><b>{{product.name}}</b></div>
                <div class="col-lg-2 col-sm-12">Rs.{{product.price}}</div>
                <div class="col-lg-2 col-sm-6">
                    <form>
                        <div>
                            <select class="form-control" id="sel1" name="sellist1" disabled>
                                <option *ngFor="let player of counter(product.countInStock); let x=index;" [value]="x+1" [selected]="(x+1) === product.inCart">
                                    {{x+1}}
                                </option>
                            </select>
                            <!--<select class="form-select" [disabled]="!product.countInStock"id="sel1" name="sellist1" (click)="onChanging($event, product.inCart, product)" [(ngModel)]="mySelect">
                                <option *ngFor="let player of counter(product.countInStock); let x=index;" [value]="x+1" [selected]="(x+1) === product.inCart">
                                    {{x+1}}
                                </option>
                            </select>-->
                            <!--<mat-form-field appearance="fill" style="width: 60px;">
                                <mat-label *ngIf="animalControl.untouched">{{product.inCart}}</mat-label>
                                <mat-select [formControl]="animalControl">
                                  <mat-option *ngFor="let player of counter(product.countInStock); let x=index" [value]="x+1">
                                    {{x+1}}
                                  </mat-option>
                                </mat-select>
                                <mat-hint  *ngIf="animalControl.value">{{makingSelectEqualToInCart(animalControl.value)}}</mat-hint>
                            </mat-form-field>-->
                        </div>
                    </form>
                </div>
                <div class="col-lg-1 col-sm-6" style="align-items: center;"><button style="background-color: white;border: none;"><span class="material-icons" style="color: black;" (click)="onDelete($event,product)">delete</span></button></div><hr>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 p-5" style="border: 1px solid black;" *ngIf="cartSize">
            <div class="row text-muted"><h4>Total Items({{itemsCount}})</h4></div>
            <div class="row"><h6>Rs.{{totalPrice}}</h6></div><hr>
            <div class="row"><a class="btn btn-primary" style="display:block">PROCEED TO CHECKOUT</a></div><hr>
        </div>
    </div>
</div>
