<div class="container">
    <!--
    <div class="d-flex justify-content-center">
        <form  #userformBooking="ngForm" (ngSubmit)="onLogin(userformBooking.value)">
            <div class="mb-3">
                <input ngModel placeholder="Enter Username" name="username" required class="iInput" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <input ngModel placeholder="Enter password" name="password" required class="iInput" type="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary"><b>Login</b></button>
        </form>
    </div>
-->
</div>
<p>Home component works!</p>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-sm-6 card" *ngFor="let obj of products" id="cardBackground" style="margin-bottom: 10px;margin-top: 10px;padding: 2px;">
            <app-cards [product]="obj"></app-cards>
        </div>
    </div>
</div>

