<div class="container">
    <p>Home works!</p>
    <div class="d-flex justify-content-center">
        <form  #userformBooking="ngForm" (ngSubmit)="onLogin(userformBooking.value)">
            <div class="mb-3">
                <input ngModel placeholder="Enter Username" name="username" required class="iInput" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <input ngModel placeholder="Enter password" name="password" required class="iInput" type="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary"><b>Login</b></button>
        </form>
    </div>


</div>
<div *ngFor="let content of data">
    <app-cards></app-cards>
    <div *ngFor="let category of data">
      <span>{{category}}</span>
    </div>
</div>

