
<div>
    <div class="row">
        <img src="{{product.image}}" class="w-100 border-bottom" alt="Sample Image"  style="height: 220px;">
    </div>
    <div class="row" style="min-height: 200px;">
        <h5 class="card-title text-muted"><b>{{product.name}}</b></h5>
        <p class="card-text">{{product.description}}</p>
    </div>
    <div class="row">
        <div class="col-6" style="text-align: center;">
            <h6 style="background-color: rgb(241, 239, 239);border-radius: 10px;"><b>Rs.{{product.price}}</b></h6>
        </div>
        <div class="col-6" style="text-align: center;">
            <h6 style="background-color: rgb(241, 239, 239);border-radius: 10px;">InStock: {{product.countInStock}} </h6>
        </div>
    </div>
    <div class="row" style="border: 2px solid yellow;text-align: center;align-content: center;align-items: center;">
        <div class="col-lg-6 col-sm-8" style="border: 2px solid red;">
            <div class="row">
                <a class="btn btn-primary">Wishlist</a>
            </div>
        </div>
        <!--<div class="col-6">
            <a href="#" class="btn btn-primary" style="display:block">Add to cart</a>	
        </div>-->
    </div>
</div>
