<div class="col-lg-3 col-sm-6 card card1">
    <img src="assets/images/logo.png" class="w-100 border-bottom" alt="Sample Image"  style="height: 250px;">
      <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Here is some example text to make up the card's content.</p>
      </div>
        
      <div class="card-body row">
          <div class="col-6">
            <h6>Price: Rs.550</h6>
            </div>
            <div class="col-6">
            <h6>InStock: 10</h6>
            </div>
        </div>
      <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
      </ul>
      <div class="card-body row">
            <div class="col-6">
                <a href="#" class="btn btn-primary" style="display:block">Add to 					cart</a>	
            </div>
            <div class="col-6">
            <a href="#" class="btn btn-primary" style="display:block">Wishlist</a>
            </div>
        </div><hr> 
  </div>