<p>user is {{userIsPresent}}</p>
<div class="container">
    <p>Login works!</p>
    
    <div *ngIf="!userIsPresent" class="d-flex justify-content-center">
        <form  #userformBooking="ngForm" (ngSubmit)="onLogin(userformBooking.value)">
            <div class="mb-3">
                <input ngModel placeholder="Enter Username" name="username" required class="iInput" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <input ngModel placeholder="Enter password" name="password" required class="iInput" type="password" class="form-control">
            </div>
            <button class="btn btn-primary" routerLinkActive="list-item-active" routerLink="/login" ><b>Login</b></button>
        </form>
    </div>
    
</div>

<div class="container" *ngIf="userIsPresent">
    
    <p>successfully logged in {{userIsPresent}}</p>
    <p>Username =  <b>{{currentUser.username}}</b></p>
    <p>Email = <b>{{currentUser.email}}</b></p>
    <p>Token =  <b>{{currentUser.token}}</b></p>
</div>
